body {
  background-color: rgb(224, 204, 204);
  padding: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table,
td,
th {
  padding: 10px;
  border: 2px solid #1c87c9;
  border-radius: 5px;
  background-color: #e5e5e5;
  text-align: center;
}
button {
  background-color: #e5e5e5;
  border-radius: 5px;
}
.updB {
  border-color: rgb(111, 221, 96);
}
.resetB {
  border-color: white;
}

tfoot {
  color: gray;
}